*{margin:0;padding:0}

#container
{
	position: relative; 
	margin: auto;
	width: 100% ; 
	height: 100%; 
	background-color: #990000; 
}
#kop
{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 20%; 
	background-color: #009900; 
}
#menu
{
	position: absolute; 
	left: 0px; 
	top: 20%; 
	width: 20%; 
	height: 80%; 
	background-color: #000099;  
}
#body
{
	position: absolute; 
	left: 20%; 
	top: 20%; 
	width: 80%; 
	height: 80%; 
	background-color: #000000;  
}




/* #container
{
	background-image: url('uitzicht.jpg');		/*er is een achtergrond plaatje in de container gezet maar die zie je niet*/ 
	/*background-repeat: no-repeat; 				/*het plaatje wordt niet herhaald dus je hebt maar 1 plaatje die niet de hele pagina vult*/
	/*background-size: 100% 100%; 				/* je zorgt ervoor dat het plaatje de hele achtergrond vult*/
/*}*/