*{margin:0;padding:0}

html, body{
	height: 100%;
}

#container
{
	position: relative; 
	margin: auto;
	width: 100%; 
	height: 100%;
	background-color: #0033CC; 
}
#kop
{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	right: 0px;
	height: 100px; 
	background-color: #0066cc; 
}

#content
{
	position: absolute; 
	left: 0px; 
	top: 100px; 
	bottom: 0px;
	right: 0px;
	background-color: #E0E0E0;
	font-family: calibri;
	overflow: auto;
}
#login
{
	background-color: #D0D0D0;
	position: absolute;
	left: 40%; 
	top: 10px; 
	width: 300px;
	font-family: calibri;
}
#registreer
{
	background-color: #D0D0D0;
	position: absolute;
	left: 40%;
	top: 150px;
	width: 300px;
	font-family: calibri;
}
ol
{
	list-style-type: none; 
}
fieldset{
	border: none;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	width: 150px;
	font-family: calibri;
}

input[type=text]:hover {
    background-color: #bfd2d9;
}
input[type=email] {
    padding:5px; 
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	width: 150px;
	font-family: calibri;
}

input[type=email]:hover {
    background-color: #bfd2d9;
}
input[type=password] {
    padding:5px; 
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	width: 150px;
	font-family: calibri;
}

input[type=password]:hover {
    background-color: #bfd2d9;
}
input[type=date] {
    padding:5px; 
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	width: 150px;
	font-family: calibri;
}
input[type=date]:hover {
    background-color: #bfd2d9;
}

input[type=submit] {
    padding:5px 15px; 
    background:#A0A0A0; 
    border: none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	font-family: calibri;
}
input[type=submit]:hover {
    background-color: #99b8c3;
}
input[type=submit]:focus {
    background-color: #eff4f6;
}


/*@keyframes regenboog{
	0% {
		background-color: #ff0000;
	}
	33% {
		background-color: #00ff00;
		border-radius: 0;
		width: auto;
	}
	66% {
		background-color: #0000ff;
		border-radius: 15px;
		width: 200px;
	}
	100% {
		background-color: #ff0000;
	}
}
@keyframes glow{
	0% {
		box-shadow: 0px 0px 0px 0px #ffff00;
	}
	100% {
		box-shadow: 0px 0px 20px 0px #ffff00;
	}
} */

/* .knop {
	display: inline-block;
	padding: 0.5em;
	border: solid 1px #000000;
	border-radius: 15px;
	
	
	animation-name: regenboog;
    animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.knop:hover{
	animation-name: glow;
    animation-duration: 1s;
	animation-iteration-count: infinite;
} 0000CD */ 